<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div>
            <talbe>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>이름<br></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="member : ${members}">
                        <td th:text="${member.id}"></td> <!-- getter setter에 접근을 한다-->
                        <td th:text="${member.name}"></td>
                        <td><br></td>
                    </tr>
                </tbody>
            </talbe>
        </div>
    </div>
</body>
</html>